#podcast-audio {
  visibility: hidden;
  position: absolute;
}

.audioTrue {
  background-repeat: no-repeat;
  background-size: 195px 50px;
  background-position: 55px;
}

.player-ctrl {
  display: flex;
  justify-content: start;
  background-color: #eef588;
  height: 35px;
  width: 250px;
  padding: 5px 0;
  border: 3px ridge rgb(218, 215, 215);
}

i {
  font-size: 25px;
  color: white;
  line-height: 5px;
  padding: 5px;
}

a {
  background-color: #00ca54;
  border-radius: 2px;
  padding: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 20px;
}